[Desktop Entry]
Type=Application
Name=terminalpolyominos
GenericName=Terminal Polyominos
Comment=Colored polyomino stacking game for Unix terminals
Exec=terminalpolyominos
Terminal=true
Categories=Game;BlocksGame;
Keywords=polyomino;tui;terminal;game;
StartupNotify=false
